
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to "PARALLEL", '/', class: "nav-parallel" %>
    <ul class="navbar-nav">

      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
      
      <% else %>
        <li class="nav-item">
          <%= link_to "Vous êtes practicien ?", '/pro', class: "nav-link" %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%= link_to "Sign in", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
</div>
