<%= render 'shared/searchbarhealt' %>

<div class=health>



  <div class="big-praticien-container">
    <div class="praticiens-container">
      <% @cabinets.each do |cabinet| %>
        <div class="praticien-card">
          <div class="p-avatar">
            <%= cl_image_tag cabinet.photo.key %>
          </div>
          <div class="praticien-infos">
            <h2> <%= cabinet.name %> </h2>
            <p> <%= cabinet.description %> </p>
            <p> <%= cabinet.adresse_cabinet %> </p>
            <%= link_to "Prendre RDV", cabinet_path(cabinet) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<br>
<div class="map-index">
<div id="map"
     style="width: 80%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
   </div>
</div>
