<!-- WARNING : CODE DU CALENDRIER CI-DESSOUS / DON'T TOUCH / ONLY FOR CSS CLASS -->
<!-- app/views/offers/show.html.erb -->
<div class="health">
  <div class="container-cabinet-show">
    <div class="practicien-card-show">
      <div class="p-avatar">
        <%= cl_image_tag @cabinet.photo.key %>
        <h1><%= @cabinet.name %></h1>
      </div>
      <div class="praticien_card_info">
        <p> Anciennement infirmière en consultations médicales psychiatriques, je me consacre depuis 2010 à l'hypnothérapie, activité que j'exerce à Marseille.
       </p>
        <h3> Formation </h3>
        <p> 2011 - Praticienne certifiée en hypnose ericksonienne - Ecole de sophrologie Aix-Marseille<br>
        Je suis actuellement formatrice dans mon propre centre.
        </p>
        <h3> Expérience </h3>
        <p> Mon axe de travail est de vous suivre pour faire émerger un sens aux situations de crise ou événements majeurs de votre vie. Les troubles émotionnels et symptômes qui s'y associent sont souvent des résistances aux changements qui freinent votre évolution. </p>
      </div>
    </div>
    <!-- WARNING WARNING WARNING DON'T TOUCH THE CODE-->
    <!-- Sous ce commentaire se trouve l'ensemble du code calendrier avec le pop up confirmation (copier le code avec les commentaires) -->
    <%= calendar(number_of_days: 5) do |date| %>
      <% hour = 8 %>
      <% 10.times do %>
        <% if date.wday == 0 %>
          <button type="button" class="calendarbutton"></button>
        <% elsif hour == 12 || hour == 13 %>
          <button type="button" class="btn"></button>
        <% elsif date.wday == 6 && (hour == 12 || hour == 13 || hour == 14 || hour == 15 || hour == 16 || hour == 17) %>
          <button type="button" class="btn"></button>
        <% elsif Reservation.where(start_time: date + hour.hours).exists? %>
          <button type="button" class="calendarbutton2"><p class="m-0">Réservé</p></button>
        <% else %>
          <button type="button" class="calendarbutton" data-toggle="modal" data-target="#exampleModal-<%= date %>-<%= hour %>"><p class="m-0"><%= hour %>h - <%= hour + 1 %>h</p></button>
        <% end %>
        <div class="modal fade" id="exampleModal-<%= date %>-<%= hour %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de Rendez-vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Rendez-vous le <%= date.strftime("%d-%m-%Y") %> à <%= hour %>h</p>
                <p>Au Cabinet <%= @cabinet.name %></p>
                <p>Adresse : <%= @cabinet.adresse_cabinet %> <%= @cabinet.cp_cabinet %></p>
                <p>Email : <%= @cabinet.email %></p>
              </div>
              <div class="modal-footer">
                <%= simple_form_for [ @cabinet, @reservation ] do |f| %>
                  <%= f.input :start_time, as: :hidden, input_html: { value: date.to_datetime + hour.hours }%>
                  <%= f.input :end_time, as: :hidden, input_html: { value: date.to_datetime + (hour + 1).hours } %>
                  <%= f.submit 'Confirmer', class: "btnSubmit" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% hour += 1 %>
      <% end %>
    <% end %>
</div>
<!-- Fin du code du calendrier (copier le code avec les commentaires) -->
<div class="card-contact-show">
  <div class="contact-info-show">
    <h3> Accès </h3>
    <p><%= @cabinet.adresse_cabinet %></p>
    <p><%= @cabinet.cp_cabinet %></p>
    <h3> Contact </h3>
    <p> Tél: 04.67.89.01.56 </p>
  </div>
    <div class="map-show">
      <div id="map"
        style="width: 99%; height: 200px; border-radius: 0 5px 5px 0;   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>
</div>
