<div>
  <%= calendar(number_of_days: 7) do |date| %>
    <%= date %>  Enlever cette ligne
    <% hour = 8 %>
    <% 10.times do %>
      <div>
        <p><%= hour %>h - <%= hour + 1 %>h</p>
         <%= simple_form_for [ @cabinet, @reservation ] do |f| %>
            <%= f.input :start_time, as: :hidden, input_html: { value: date.to_datetime + hour.hours }%>
            <%= f.input :end_time, as: :hidden, input_html: { value: date.to_datetime + (hour + 1).hours } %>
            <%= f.submit "Réserver", class: "btn btn-primary" %>
        <% end %>
      </div>
      <% hour += 1 %>
    <% end %>
  <% end %>
</div>
